.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.description {
  font-size: 2.4rem;
  line-height: 2;
  color: #e7f5ff;
  width: 85rem;
}
