.body {
  width: 100vw;
  height: 100%;
  /* margin-top: 2.4rem;
  margin-bottom: 2.4rem; */
  background-color: rgba(0, 0, 0, 0.81);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
