.navbar {
  display: flex;

  align-items: center;
  width: 100vw;
}

.menu {
  display: flex;
  width: 100vw;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  display: flex;
  align-items: center;
}

.logo {
  height: 8rem;
  width: 8rem;
  margin: 1.6rem;
  background-image: url(../../public/img/lmsa-logo-crop.png);
  opacity: 0.7;
  background-size: cover;
}

.mainTitle {
  font-size: 3.6rem;
  color: #e7f5ff;
  font-style: italic;
}

.menuItem {
  padding: 2.4rem;
  font-size: 2.4rem;
  color: #e7f5ff;
  font-style: italic;
  cursor: pointer;
}
.menuItem:hover,
.menuItem:active {
  color: #c92a2a;
  font-weight: bold;
}
