#windy {
  width: 65rem;
  height: 45rem;

  margin: 2.4rem;
  margin-right: 5.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.568);
}

.weather {
  width: 65rem;
  height: 45rem;

  margin: 2.4rem;
  margin-right: 5.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.568);
}
